{% extends 'userbase.html' %}

{% block content %}
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Order</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="{% url 'men' %}">Shop</a>
                            <span>Order</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                {% if cart_items %}
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic" style="width: 200px;">
                                            <img src="{{cart_item.product.image.url}}" alt="Product">
                                        </div>
                                        <div class="product__cart__item__text" style="margin-top: 97px;">
                                            <h6>{{cart_item.product.product_name}}</h6>
                                            <!-- <h5>{{cart_item.product.description}}</h5> -->
                                        </div>
                                    </td>
                                    <!-- <td class="quantity__item">
                                        <div class="quantity">
                                            <a href="{% url 'remove_cart' cart_item.product.id %}"><i class="fa-solid fa-minus" style="color:black ;"></i></a>
                                               &nbsp; {{cart_item.quantity}} &nbsp;
                                            <a href="{% url 'add_cart' cart_item.product.id %}"><i class="fa-solid fa-plus" style="color:black ;"></i></a>
                                            </div>
                                        </div>
                                    </td> -->
                                    <td class="cart__price">{{cart_item.quantity}}</td>
                                    <td class="cart__price">{{cart_item.sub_total}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="{% url 'index' %}">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>{{total}}</span></li>
                            <li>Tax<span>{{tax}}</span></li>
                            {% if coupon_discount > 0 %}
                            <li>coupon discount<span> {{coupon_discount}}</span></li>
                            {% endif %}
                            <li>Total <span>{{grand_total}}</span></li>
                        </ul>
                        <a href="{% url 'placecod' %}" class="primary-btn">COD</a><br>
                        <a  href id="rzp-button1"  class="primary-btn" style="color:white;">Razorpay</a><br>
                        <a  href="{% url 'paypal' %}"   class="primary-btn" style="color:white;">Paypal</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/b0714c898b.js" crossorigin="anonymous"></script>
    <!-- Shopping Cart Section End -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
     var options = {
         "key": "rzp_test_La7f7L132DGHHF", // Enter the Key ID generated from the Dashboard
         "amount": "{{new_total}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
         "currency": "INR",
         "name": "fashion ",
         "description": "purchases",
         "image": "https://example.com/your_logo",
         "order_id": "{{payments.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 2
         "handler": function (response){
           console.log("sucess"),
           window.location.href = 'https://www.riyarimafashions.ml/orders/success/?razorpay_payment_id = ${response.razorpay_payment_id} = & razorpay_order_id= ${response.razorpay_order_id} & razorpay_signature = ${response.razorpay_signature}'
             // alert(response.razorpay_payment_id);
             // alert(response.razorpay_order_id);
             // alert(response.razorpay_signature)
         },
         
         "theme": {
             "color": "#3399cc"
         }
     };
     var rzp1 = new Razorpay(options);
     rzp1.on('payment.failed', function (response){
             alert(response.error.code);
             alert(response.error.description);
             alert(response.error.source);
             alert(response.error.step);
             alert(response.error.reason);
             alert(response.error.metadata.order_id);
             alert(response.error.metadata.payment_id);
     });
     document.getElementById('rzp-button1').onclick = function(e){
         rzp1.open();
         e.preventDefault();
     }
     </script>
    <!-- Footer Section Begin -->
    {% endif %}
    {% endblock %}