{% extends 'adminside/adminbase.html' %}

{% block content %}
<div class="content-header sty-one" style="margin-top: 64px;">
  <h1 class="text-black">Brand</h1>
  <ol class="breadcrumb">
    <li><a href="adminhome">Home</a></li>
    <li class="sub-bread"><i class="fa fa-angle-right"></i>Brand Management</li>
    <li><i class="fa fa-angle-right"></i>View Brand</li>
  </ol>
</div>
<!-- <td><a href="{% url 'addbrand'%}"><button type="submit" class="btn" style="background-color: #252932; color:white; margin-left: 75px;">Add Brand</button></a></td> -->

<div class="table-responsive">
  <table class="table table-hover" style="
  margin-left:308px;margin-top: 17px;max-width:47%;background:#D3D3D3;">
 <thead class="thead-dark" style="background-color: #252932;">
      <tr>
        <th scope="col">Id</th>
        <th scope="col"></th>
        <th scope="col">Brand name</th>
        <th scope="col"></th>
        <!-- <th scope="col"></th> -->
      
      </tr>
    </thead>
    <tbody>
      {% for x in thebrand %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td></td>
        <td>{{x.brandname}}</td>
        <td></td>
        <!-- <td></td> -->
        <!-- <td><a href="deletebrand/{{ x.id }}"><button type="submit" class="btn btn-danger"
              onclick="return confirm('Are you sure to delete?')">Delete</button></a></td> -->
              <!-- <td><a href="editbrand/{{x.id}} "><button type="submit" class="btn" style="background-color: #252932; color:white ;">Edit</button></a></td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>



  <!-- ///////////////////////////////////////pagination/////////////////////////////////////////// -->
  <nav aria-label="Page navigation example">
  
    <ul class="pagination" style="margin-right: 619px;/* text-align: center; */">
      {% if thecategory.has_previous %} 
      <li class="page-item">
        <a class="page-link" href="brand?page={{thebrand.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for n in totalpagelist %}
      <li class="page-item"><a class="page-link" href="brand?page={{n}}">{{n}}</a></li>
      {% endfor %}
      {% if thecategory.has_next %} 
  
      <li class="page-item">
        <a class="page-link" href="brand?page={{thebrand.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- /.content -->

{% endblock %}