{% extends 'adminside/adminbase.html' %}

{% block content %}
<div class="content-header sty-one" style="margin-top: 64px;">
  <h1 class="text-black">Order</h1>
  <ol class="breadcrumb">
    <li><a href="adminhome">Home</a></li>
    <li class="sub-bread"><i class="fa fa-angle-right"></i>Order Management</li>
    <li><i class="fa fa-angle-right"></i>View Order</li>
  </ol>
</div>
<div class="table-responsive">
    <table class="table table-hover" style="margin-left: 82px;margin-top: 48px;max-width: 90%;">
      <thead class="thead-dark" style="background-color:#252932;">
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Address</th>
          <th scope="col">Price</th>
          <th scope="col">Date</th>
          <th scope="col">Payment Method</th>
          <th></th>
        </tr>
      </thead>
      <tbody style="background-color: #D3D3D3">
      {% for x in orders %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{x.user}}</td>
          <td>{{x.address.firstname}} {{x.address.lastname}}<br>{{x.address.phone_number}}<br>{{x.address.Email_Address}}<br>{{x.address.Addressfield}}<br>{{x.address.Town}}</td>
          <td>{{x.ordertotal}}</td>
          <td>{{x.date}}</td>
          <td>{{x.payment.payment_method}}</td>
          <!-- <td>{{x.status}}</td> -->

          <!-- <td><img src="{{x.image}}" alt="" class="img-fluid img-thumbnail" style="width:140px; height:160px"></td> -->
          <td><a href="product_order_management/{{ x.id }}"><button type="submit" class="btn" style="background-color:#252932;color:white ;">View</button></a></td>
          
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <nav aria-label="Page navigation example">
  
      <ul class="pagination" style="margin-right: 619px;/* text-align: center; */">
        {% if orders.has_previous %} 
        <li class="page-item">
          <a class="page-link" href="order_management?page={{orders.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for n in totapagelist %}
        <li class="page-item"><a class="page-link" href="order_management?page={{n}}">{{n}}</a></li>
        {% endfor %}
        {% if orders.has_next %} 
    
        <li class="page-item">
          <a class="page-link" href="order_management?page={{orders.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
    
      </ul>
    </nav>
  </div>
{% endblock %}