{% extends 'adminside/adminbase.html' %}

{% block content %}
<div class="content-header sty-one" style="margin-top: 64px;">
  <h1 class="text-black" style="font-weight: 500;">Products</h1>
  <ol class="breadcrumb">
    <li><a href="adminhome">Home</a></li>
    <li class="sub-bread"><i class="fa fa-angle-right"></i>Product Management</li>
    <li><i class="fa fa-angle-right"></i>View Product</li>
  </ol>
</div>
<td><a href="{% url 'addproduct'%}"><button type="submit" class="btn" style="background-color: #252932;margin-left:11px;color:white ;">Add Product</button></a></td>

<div class="table-responsive">
    <table class="table table-hover" style="
        margin-left:78px;margin-top: 17px;max-width:87%;background:#D3D3D3;">
      <thead class="thead-dark" style="background-color: #252932;">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th scope="col">Image</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for x in theproduct %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{x.product_name}}</td>
          <td>{{x.description}}</td>
          <td>{{x.price}}</td>
          <td>{{x.stock}}</td>
          <td>{{x.brand.brandname}}</td>
          <td>{{x.category}}</td>
          <td><img src="{{ x.image.url }}" alt="" class="img-fluid img-thumbnail" style="width:140px; height:160px"></td>
          <td><a href="editproduct/{{ x.id }}"><button type="submit" class="btn btn-warning">Edit</button></a></td>
          <td><a onclick="removed('{{x.id}}')"><button type="submit" class="btn btn-danger">Delete</button></a></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>


    <!-- ///////////////////////////pagination/////////////////////////// -->
    <nav aria-label="Page navigation example">
  
      <ul class="pagination" style="margin-right: 619px;/* text-align: center; */">
        {% if theproduct.has_previous %} 
        <li class="page-item">
          <a class="page-link" href="product?page={{theproduct.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for n in totalpagelist %}
        <li class="page-item"><a class="page-link" href="product?page={{n}}">{{n}}</a></li>
        {% endfor %}
        {% if theproduct.has_next %} 
    
        <li class="page-item">
          <a class="page-link" href="product?page={{theproduct.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  


<script>
  function removed(id){

  swal({
    title: "Are You Sure want to Delete",
    text: "",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  })
  .then((willDelete) => {
    if (willDelete) {
      swal("COMPLETED", {
        icon: "success",
        
        
        
      }).then(()=>{ window.location.href = "delete/"+id
    })

      
    } 
  });
}
</script>

{% endblock %}