{% extends 'adminside/adminbase.html' %}

{% block content %}

<div class="content-header sty-one" style="margin-top: 64px;">
  <h1 class="text-black" style="
    font-weight: 500;">Category Offer</h1>
  <ol class="breadcrumb">
    <li><a href="adminhome">Home</a></li>
    <li class="sub-bread"><i class="fa fa-angle-right"></i>User Management</li>
    <li><i class="fa fa-angle-right"></i>Category Offer</li>
  </ol>
</div>
<div class="table-responsive">
  <table class="table table-hover" style="
  margin-left:78px;margin-top: 17px;max-width:87%;background:#D3D3D3;">
    <a href="{% url 'NewCategoryOffer'%}">
      <div class="btn" 
      style="margin-top: 8px;
      margin-left: 78px;background-color: #252932; color:white;">
        Add CategoryOffer
      </div>
    </a>
    <thead class="thead-dark" style="background-color: #252932;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Discount</th>
        <th scope="col"></th>
        <th scope="col"> status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% if CategoryOffer %}
      <div class="row">
        {% for value in CategoryOffer %}

        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{value.category.category_name}}</td>
          <td>Discount:{{value.discount}}%</td>
          <td><a href="{% url 'EditCategoryOffer' value.id %}"><button type="button"
                class="btn light btn-secondary btn-xs" style="background-color: #252932; color:white;">Edit</button></a></td>
          <td><a href="{% url 'DeleteCategoryOffer' value.id %}"><button type="button"
                class="btn light btn-danger btn-xs">Delete</button></a></td>
          {% if value.is_active %}
          <td><a href="{% url 'BlockCategoryOffer' value.id %}"><button type="button"
                class="btn light btn-danger btn-xs">Block</button></a></ {% else %} <td><a
              href="{% url 'UnBlockCategoryOffer' value.id %}"><button type="button"
                class="btn light btn-success btn-xs">UnBlock</button></a></td>

          {% endif %}
      </div>
      {% endfor %}
      {% endif %}

    </tbody>
  </table>
  <!-- ---------------------------------- Pagination ---------------------------------- -->

  <nav aria-label="Page navigation example">

    <ul class="pagination" style="margin-right: 619px;/* text-align: center; */">
      {% if CategoryOffer.has_previous %}
      <li class="page-item">
        <a class="page-link" href="categoryoffers?page={{CategoryOffer.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for n in totalPagelist %}
      <li class="page-item"><a class="page-link" href="categoryoffers?page={{n}}">{{n}}</a></li>
      {% endfor %}
      {% if CategoryOffer.has_next %}

      <li class="page-item">
        <a class="page-link" href="categoryoffers?page={{CategoryOffer.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>
</div>
</div>

{% endblock %}